body {
  font-family: 'Roboto', sans-serif;
}

table {
  padding-top: 8vh;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  width: 2.5vw;
  height: 2.5vw;
  transition-duration: 250ms;
  opacity: 0.7;
}

.text {
  font-size: 10vw;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
}

#me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15.7vw;
  height: 16.7vw;
  padding-top: 100px;
}

#at {
  color: aliceblue;
}

#name {
  color: darkorange;
}

#intro {
  font-size: 2vw;
  padding: 15%;
  opacity: 0;
  transition-duration: 2500ms;
}


@media only screen and (max-width: 888px) {

  .icon {
    padding-left: 15px;
    padding-right: 15px;
    width: 25px;
    height: 25px;
  }

  #me {
    width: 140px;
    height: 150px;
  }

  #name {
    font-size: 90px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  #intro {
    font-size: 20px;
  }
}

@media only screen and (max-width: 415px) {
  #me {
    width: 200px;
    height: 220px;
  }

  #name {
    font-size: 60px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  table {
    display: none;
  }

  #intro {
    font-size: 20px;
    padding-top: 30%;
  }
}

@media only screen and (max-width: 888px) and (min-height: 650px) {

  #intro {
    opacity: 1;
  }
}